# Sample Logstash configuration for creating a simple
# Beats -> Logstash -> Elasticsearch pipeline.

input {
  beats {
    port => {{ logstash_listen_port_beats }}
  }
}

output {
  elasticsearch {
    hosts => ["{{ logstash_elasticsearch_url }}"]
    index => "{{ logstash_indexname }}"
    #user => "elastic"
    #password => "changeme"
  }
}
