[logstash-{{ logstash_version }}]
name=Elastic repository for {{ logstash_version }} packages
{% if logstash_version is version_compare('7.0.0', '<') %}
baseurl=https://artifacts.elastic.co/packages/6.x/yum
{% else -%}
baseurl=https://artifacts.elastic.co/packages/7.x/yum
{% endif %}
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md